.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1006%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M216.6809690116778 318.2951345885127L230.2623847122563 404.0448185394716 316.0120686632152 390.4634028388931 302.43065296263666 304.7137188879342z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M563.6992676408114 516.96127596739L692.366648773323 503.56175424819975 627.5044467901397 410.92892977301216z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M758.955%2c649.509C811.593%2c646.393%2c850.546%2c604.946%2c874.893%2c558.174C897.155%2c515.407%2c900.752%2c465.044%2c876.743%2c423.233C852.638%2c381.255%2c807.28%2c359.084%2c758.955%2c356.27C704.313%2c353.088%2c644.753%2c362.202%2c614.739%2c407.974C582.316%2c457.419%2c586.218%2c522.7%2c616.53%2c573.467C646.101%2c622.993%2c701.374%2c652.917%2c758.955%2c649.509' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1242.079152176671 445.8925669001429L1071.1341735494086 386.8492009699165 1098.587111265243 542.5425475328262z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M0.15167682599661703 297.45942026652335L-87.41101629130584 417.9791279809441 120.67138454041736 385.0221133838258z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M889.4508381374128 441.10948078842637L1033.0417279919143 505.04026390062893 1096.9725111041168 361.44937404612745 953.3816212496154 297.5185909339249z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M248.5788797035422 496.82209860636715L219.60926498965625 446.6452540462218 158.82880550638117 515.1880983971233z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1066.546429907175 101.82187607227678L1102.3031378304984 205.666896173069 1240.192314020025 100.10932423768807z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1170.0755108946737 86.22844857698276L1040.7409329861343 41.69498204990914 996.2074664590607 171.0295599584486 1125.5420443676 215.5630264855222z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1006'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
  background-position: center center;
  background-size: cover;
  gap: 5em
}

.container>h1 {
  color: black;
  cursor: default;
  padding: 0 16px;
  margin: 44px 0 36px;
  font-size: 5rem;
  font-weight: 900;
  line-height: 90px;
  text-align: center;
  font-family: sofia-pro-soft, sans-serif;
  text-shadow:
    2px 2px 0 var(--outline),
    2px -2px 0 var(--outline),
    -2px 2px 0 var(--outline),
    -2px -2px 0 var(--outline),
    2px 0px 0 var(--outline),
    0px 2px 0 var(--outline),
    -2px 0px 0 var(--outline),
    0px -2px 0 var(--outline),
    0px 3px 5px rgba(0, 0, 0, 0.5);
}

.container img {
  width: 320px;
  margin: 0px 0px 120px;
}

.container button {
  color: white;
  font-size: 20px;
  cursor: pointer;
  font-weight: 900;
  border-radius: 5px;
  text-align: center;
  background: black;
  border: 2px solid white;
  padding: 10px 24px 10px 24px;
  margin: -50px 0 25px;
  box-shadow: -1px 5px 19px -5px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: -1px 5px 19px -5px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: -1px 5px 19px -5px rgba(0, 0, 0, 0.25);
  /* margin-top: 6em; */
}