.container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  margin: 2em;
}

.label,
.button {
  margin-right: 0.5rem;
}

.inputContainer {
  margin-bottom: 1rem;
}

.inputContainer > input {
  background-color: rgb(0, 0, 0);
  align-items: flex-end;
  /* border-radius: 10px; */
  border: 0;
  border-bottom: groove;
  color: whitesmoke;
  margin-top: .6em;
  
}
.inputContainer > label {
  color: rgb(255, 255, 255);
  align-items: flex-end;
  border-radius: 10px;
}

button {
  border-radius: 10px;
  border: none;
  background-color: #af4c4c;
  padding: .6em 1.5em;
  color: rgba(245, 245, 245, 0.829);
}
.button {
  background-color: #4CAF50;
}

button:hover {
  cursor: pointer;
  color: rgb(255, 255, 255);
  /* outline-color: aliceblue; */
}


.inputContainer > .photoBtn  {
  background-color: red;
  height: 4em;
}

input[type="file"] {
  color: blue;
}

input::file-selector-button{
  background-color: #4CAF50;
}

.photoBtn:hover{
  cursor: pointer;
}